
<div class="container">
    <h3 class="text-center mt-4">Delantero</h3>
    <form action="/Delantero/Crear" method="post" class="form-dt">
        <div class="mb-4">
            <label class="form-label" for="Nombre">Ingrese el nombre:</label>
            <input type="text" class="form-control" name="Nombre" id="Nombre" placeholder="Nombre" />
        </div>
        <div class="mb-4">
            <label class="form-label" for="Apellido">Ingrese el apellido:</label>
            <input type="text" class="form-control" name="Apellido" id="Apellido" placeholder="Apellido" />
        </div>
        <div class="mb-4">
            <label class="form-label" for="PenalesConvertidos">¿Cuantos goles convirtio?</label>
            <input type="number" class="form-control" name="PenalesConvertidos" id="PenalesConvertidos" placeholder="0 - 1 - 2" />
        </div>
        <div class="mb-4">
            <label class="form-label" for="Expulsado">¿Fue expulsado el Delantero?</label>
            <select class="form-select" name="Expulsado">
                <option selected>Elija una opcion</option>
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>
        </div>
        <div class="text-center">
            <button class="btn btn-lg btn-outline-success btn-block text-uppercase" type="submit" name="name">
                Crear
            </button>
        </div>
    </form>
</div>